

<div class="card-trip">
  <img src="https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @user.first_name %></h2>
      <h2>Email: <%= @user.email %></h2>
      <p>I love the sea! And this is my profile</p>
    </div>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

