// Import page-specific CSS files here.
@import "home";
@import "booking";

.container-main {
  display: flex;
}

body {
  background-color: #ffffff;
}

.font {
  font-family: 'Bodoni Moda', serif;
}

#handwriting {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 62px;
  color: #1d547c;
}

.handwriting-index {
  width: 440px;
}

.h3-index {
  color: #0b254e;
  font-weight: bold;
  margin-bottom: 24px;
  font-size: 30px;
}

.Logo-index-oriange {
  width: 46px;
}
