// Import page-specific CSS files here.
@import "home";
@import "booking";

@font-face {
  font-family: 'Notera_PersonalUseOnly';
  src: url('./fonts/Notera.ttf')
}


.container-main {
  display: flex;
  margin-top: 24px;
}

body {
  // background-color: #ffffff;
  background-image: linear-gradient(to right, #15476a, #7092aa);
}

.font {
  font-family: 'Bodoni Moda', serif;
}

.font2 {
  font-family: 'Playfair Display', serif;
}

#handwriting {
  display: inline;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 62px;
  color: #ffffff;
}


.handwriting-index {
  width: 440px;
}

.h3-index {
  display: inline;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 24px;
  font-size: 30px;

}

.Logo-index-oriange {
  width: 46px;
}


.font-playfair{
  font-family: 'Playfair Display', serif;
  color: white;
}

.font-playfair-two{
  font-family: 'Playfair Display', serif;
  color: #0E314A;
}
.color-dark-blue{
  color: #0E314A;
}




.center-text{
  text-align: center;
}
