.card-product {
  overflow: hidden;
  height: 120px;
  width: 50%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-left: 8px;
  border-radius: 5px;
  margin-bottom: 8px;
  position: relative;
}

.card-product img {
  height: 90%;
  width: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin: 5px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.boat-name {
  display: block;
}

.price {
  font-size: small;
  font-weight: lighter;
  margin-bottom: 9px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 8px;
}
