.card-boat {
  overflow: hidden;
  height: 140px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 5px;
  margin-bottom: 8px;
  position: relative;
}

.card-boat img {
  height: 90%;
  width: 140px;
  object-fit: cover;
  border-radius: 10px;
  margin: 5px;
  padding: 8px;
}

.card-boat p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-left: 0;
}

.card-boat .card-boat-infos {
  padding: 16px;
}

.boat-name {
  display: block;
}

.price {
  font-size: small;
  font-weight: lighter;
  margin-bottom: 9px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 22px;
}

.text-decoration{
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.text-decoration{
  text-decoration: none;
  color: black;
}

.containerz{
  display: flex;
  margin:0;
  padding: 0;
}
