.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.maps {
  height: 100vh;
  margin-left: 10px;
  border-radius: 5px;
  border: #113b59;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
  border-style: solid;
  border-width: 2px;
  position: sticky;
  top: 0
}
