.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.maps {
  height: 100vh;
  margin-left: 8px;
  border-radius: 5px;
  border-color: #888dbb;
  border-style: solid;
  position: sticky;
  top: 0
}
