.navbar-lewagon {
  justify-content: space-between;
  // background: #15476a;
  background-image: linear-gradient(to right, #15476a, #2b6791);
  padding-right: 66px;
  padding-left: 66px;
  border-bottom: 1px solid #ffffff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

#links a {
  color:#ffffff;
  font-family: 'Playfair Display', serif;
}

.navbar-lewagon-white {
  background-color: white;
}
