.list-groups{

  list-style-type: none;
  padding: 0;
}

.list-group-items{
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 100%;
  margin: 10px;

}


.review-div{
  flex: 1;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

.list-review-div{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  min-height: 100px;
  color: #0E314A;
}


.orange-color{
  color: #fea46f;
}
