.search-form-index{
  margin-top: 42px;
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
  width: 100%
}

.search-form-input{
  width: 60%
}

.searchbutton{
  width: 100%
}

.search-button-style {
  // background-color: #f1742a;
  background-image: linear-gradient(to right, #f7c37f, #fea46f);
  color: #ffffff;
}

.input-field {
  background-color: #ffffff;
}
