h1 {
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Bodoni Moda', serif;
}

h2 {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
}

p {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Playfair Display', serif;
}

.boat-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 16px;
  // border-radius: 5px;
  // margin: 8px;
  border-color: white;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.medium {
  display: flex;
  justify-content: flex-start;
}

.container-forms {
  display: block;
  flex-basis:  | auto;
  h1 {
    color: black;
  }
}

.form-owner {
  background-color: rgb(251, 251, 251);
  padding-bottom: 16px;
}

.list-group-item {
  background-color: #ffffff00;
  border-radius: 0%;
  padding: 0%;
  border-style: hidden;
}

.container-forms {
  background-color: #ffffff00;
}

.recom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}

.other{
  margin-top: 16px;
  h1 {
    font-size: 32px;
  }
}

#boat-description {
  background-color: #ffffff;
  color: #123e5d;
  padding: 16px;
  border-color: #0c2435;
  border-style: solid;
  border-width: 2px;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  margin-top: 0;
}

#buttons-show a {
  align-items: right;
}

.btn-costom {
  font-family: 'Playfair Display', serif;
  color: #123e5d;
}

#short-info {
  font-size: 16px;
}

.show-container {
  display: flex;
  margin-top: 16px;
  justify-content:space-between;
  align-items: stretch;
}
